.l {
        padding: 10px;
        position: absolute;
        top: 25%;
        left: 35%;
        width: auto;
        height: auto;
        text-align: center;
        background-color: white;
        border-radius: 5px;
    }

    body {
        background-image: url("/image.jpg")
    }
  a, a:hover , a:link{
        text-decoration:none !important;
    }